.table {
    padding: 40px 20px;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 18px;
    font-weight: 500;
}
.table thead th {
    background-color: #0000c5;
    color: white;
    padding: 8px 2px;
    text-wrap: nowrap;
    font-weight: 600;
}
.table thead tr th:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.table thead tr th:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.table tbody td {
    text-align: center;
    padding: 25px 0;
    border-bottom: 2px solid #D2D2D2;
    text-transform: capitalize;
}
.table tbody td a{
    text-decoration: none;
}
