.mainHeader {
    display: flex;
    align-items: center;
    width: 100%;
}
.mainHeader .userName p{
    color: darkblue;
    font-size: 24px;
    font-weight: 600;
}
.searchBar {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.mainHeader .search_field{
    position: relative;
    display: flex;
    width: 60%;
}
.searchBar input {
    width: 100%;
    padding: 5px 40px;
    border-radius: 30px;
    border: 1px solid #b9b9b9;
    background-color: #f1f1f1;
}

.searchBar .search_input_icon {
    position: absolute;
    left: 15px;
    top: 18px;
}
.filterButton{
    background: none !important;
    padding: 0 !important;
    height: auto !important;
}
.filterButton img{
    cursor: pointer;
}